# Ignore environment files
.env
.venv38/
env/
venv/
*.egg-info/

training-runs/

# Ignore logs
*.log

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.so
*.pyd

# Ignore datasets
dataset/
datasets/
*.zip
*.jpg
*.png